
.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    row-gap: 85px;
    padding: 85px 140px;
}

.home.light{
    background-color: var(--light-grey);
    background-image: url(../assets/images/pattern-background-desktop-light.svg);
}

.home.dark{
    background-color: var(--dark-navy);
    background-image: url(../assets/images/pattern-background-desktop-dark.svg);
}


.home ul{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.home .content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.home .header{
    max-width: 465px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.home .header h1{
    font-size: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -1px;
    color: var(--dark-navy);
}

.home.dark .header h1{
    color: var(--white);
}

.home .header h1 span{
    font-weight: 500;
    letter-spacing: 0px;
}

.home .header p{
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    color: var(--grey);
}

.home.dark .header p{
    color: var(--pale-blue);
}


.home .subjects{
    max-width: 565px;
    width: 100%;
}