.button-theme__container{
display: flex;
justify-content: space-between;
width: 100%;
}

.button-theme__container div{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.button-theme__container button{
    height: 28px;
    width: 48px;
    background-color: var(--light-purple);
    border: none;
    border-radius: 100px;
    position: relative;
    display: flex;
    padding: 4px;
    cursor: pointer;
}

.button-theme__container .light button span{
    position: absolute;
    left: 4px;
    transition: all 1s linear;
}

.button-theme__container .dark button span{
    position: absolute;
    right: 4px;
    transition: all 1s linear;
}


.button-theme__container button span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--white);
}

.button-theme__container .quiz-btn{
    display: flex;
    column-gap: 24px;
}

.button-theme__container .quiz-btn p{
    font-size: 28px;
    font-weight: 500;
    line-height: 100%; /* 28px */
    color: var(--dark-navy);
}

.dark .button-theme__container .quiz-btn p{
    color: var(--white);
}

.button-theme__container .quiz-btn img{
    padding: 8px;
    border-radius: 12px;
}

.button-container{
    padding: 14px 0;
}

.quiz-btn .Accessibility{
    background-color: #F6E7FF;
}

.quiz-btn .HTML{
    background-color: #FFF1E9;
}

.quiz-btn .CSS{
    background-color: #E0FDEF;
}

.quiz-btn .Javascript{
    background-color: #EBF0FF;
}